<style>
  body {
    background-size: <%= 100 / ((@timeframe.max - @timeframe.min) / 60.0) %>% 400px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.2) 1px, transparent 1px);
  }
</style>

<div class="intro">
  <h1>Burndown chart for ConfigurationBuild <%= @configuration_data[:build_id] %></h1>

  <p>
    Showing <%= '%0.1f' % ((@timeframe.max - @timeframe.min) / 60) %> mins, starting at <span data-time-utc><%= @timeframe.min.iso8601 %></span>, lines represent one minute.
  </p>

  <p>
    Total <%= @configuration_data[:running] ? "running" : "run" %> time is for <span><%= '%0.2f' % @configuration_data[:runtime] %>s (<%= Time.at(@configuration_data[:runtime]).utc.strftime("%H:%M:%S") %>).</span>
  </p>
</div>

<% @data.each do |runner, configs| %>
  <div class="runner">
    <div class="label">Runner <%= runner.name %></div>

    <% configs.each do |config, runner| %>
      <div class="configuration">
        <div class="label">ConfigurationBuild-<%= config.id %></div>

        <% runner.each do |name, list| %>
          <div class="worker">
            <span class="worker-label"><%= name %></span>
            <% list.each do |build_task_run| %>              
              <% calculate_burndown_section_for(build_task_run) do |label, status, left, width| %>
                <div class="file <%= status %>" title="<%= build_task_run.label %>" style="left: <%= left %>%; width: <%= width %>%;">
                  <%= link_to label, build_task_run %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  [].forEach.call(document.querySelectorAll("[data-time-utc]"), function(el) {
    let time = new Date(el.innerText);
    el.title = el.innerText;
    el.innerText = time.toString();
  });
</script>