<% time_chunks = (@scale_time/60).to_i %>
<% (0..time_chunks).each do |i| %>
  <hr class="vr" style="left: <%= i * (100/time_chunks) %>%;" title="<%= i %>min">
<% end %>
<div><%= time_chunks %> mins scale</div>
ConfigruationBuild <%= @configuration_build.id %> took <%= '%0.2f' % @runtime %>s.
<% @build_task_runs_by_runner_and_configuration_build.each do |runner, build_task_run_by_configuration_build| %>
  <div class="runner">
    <div class="runner_label">Runner <%= runner.name %></div>
    <% build_task_run_by_configuration_build.each do |configuration_build, build_task_runs| %>

      <% spawn_build_task_runs, regular_build_task_runs = build_task_runs.partition { |build_task_run| build_task_run.build_task.stage == 'spawn' } %>
      <% bootstrap_build_task_runs, regular_build_task_runs = regular_build_task_runs.partition { |build_task_run| build_task_run.build_task.stage == 'bootstrap' } %>

      <div><b>ConfigurationBuild-<%= configuration_build.id %></b></div>

      <% if bootstrap_build_task_runs.present? %>
        <div class="worker">
          <div class="worker_label">bootstrap</div>
          <% bootstrap_build_task_runs.each do |build_task_run| %>
            <% classification = (build_task_run.state == 'success' ? 'success' : 'failure') %>
            <div class="file <%= classification %>"
              <% if build_task_run.duration && build_task_run.relative_start(@start_time)*100/@scale_time + (build_task_run.duration*100/@scale_time) <= 100 %>
                   style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= '%0.2f' % (build_task_run.duration*100/@scale_time) %>%;"
                 <% else %>
                     style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= 100 - (build_task_run.relative_start(@start_time)*100/@scale_time) %>%;"
                   <% end %>

title="<%= build_task_run.label %>">
<%= link_to "Bootstrap (#{build_task_run.duration.to_i})", build_task_run, target: '_blank' %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="worker">
        <div class="worker_label">spawn</div>
        <% spawn_build_task_runs.each do |build_task_run| %>
          <% classification = (build_task_run.state == 'success' ? 'success' : 'failure') %>
          <div class="file <%= classification %>"
            <% if build_task_run.duration && build_task_run.relative_start(@start_time)*100/@scale_time + (build_task_run.duration*100/@scale_time) <= 100 %>
              style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= '%0.2f' % (build_task_run.duration*100/@scale_time) %>%;"
            <% else %>
              style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= 100 - (build_task_run.relative_start(@start_time)*100/@scale_time) %>%;"
            <% end %>
            title="<%= build_task_run.label %>">
            <%= link_to build_task_run.short_label, build_task_run, target: '_blank' %>
          </div>
        <% end %>
      </div>

      <div class="worker">
        <div class="worker_label">run</div>
        <% regular_build_task_runs.each do |build_task_run| %>
          <% classification = (build_task_run.state == 'success' ? 'success' : 'failure') %>
          <div class="file <%= classification %>"
            <% if build_task_run.duration && build_task_run.relative_start(@start_time)*100/@scale_time + (build_task_run.duration*100/@scale_time) <= 100 %>
              style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= '%0.2f' % (build_task_run.duration*100/@scale_time) %>%;"
            <% else %>
              style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= 100 - (build_task_run.relative_start(@start_time)*100/@scale_time) %>%;"
            <% end %>
            title="<%= build_task_run.label %>">
            <%= link_to build_task_run.short_label, build_task_run, target: '_blank' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
