<html>
	<head>
		<title>AllCI burndown report</title>
		<style type="text/css">
      html, body {height: 100%; min-height: 100%}
			body { background-color: #eee; font: 9pt Helvetica, Arial, sans-serif; }
			.runner { margin-top: 20px; }
			.runner_label { line-height: 20px; font-weight: bold; }
			.worker { height: 20px; position: relative; padding-left: 20px; background: white; }
			.worker:nth-child(even) { background: #f7f7f7; }
			.worker_label { float: left; position: absolute; top: 0px; margin-left: -20px; width: 20px; height: 20px; line-height: 20px; }
			.framework, .file { float: left; position: absolute; top: 0px; height: 19px; line-height: 19px; border: 1px solid #ccc; border-top: none; white-space: nowrap; overflow: hidden; }
			.file.success { background-color: #bbeebb; }
			.file.failure { background-color: #ffcccc; }
			.file.retried { background-color: #ffffcc; }
			.framework { background-color: white; color: #007700; font-size: 7.5pt; font-weight: bold; }
      .vr {
        width: 1px;
        background-color: #000;
        position:fixed;
        top:0;
        height: 100%;
        opacity: 0.2;
        z-index: 999;
      }
		</style>
  </head>
  <body>
    <% time_chunks = (@scale_time/60).to_i %>
    <% (0..time_chunks).each do |i| %>
      <hr class="vr" style="left: <%= i * (100/time_chunks) %>%;" title="<%= i %>min">
    <% end %>
    <div><%= time_chunks %> mins scale</div>
    ConfigruationBuild <%= @configuration_build.id %> took <%= '%0.2f' % @runtime %>s.
    <% @build_task_runs_by_runner_and_configuration_build.each do |runner, build_task_run_by_configuration_build| %>
      <div class="runner">
        <div class="runner_label">Runner <%= runner.name %></div>
        <% build_task_run_by_configuration_build.each do |configuration_build, build_task_runs| %>

          <% spawn_build_task_runs, regular_build_task_runs = build_task_runs.partition { |build_task_run| build_task_run.build_task.stage == 'spawn' } %>
          <% bootstrap_build_task_runs, regular_build_task_runs = regular_build_task_runs.partition { |build_task_run| build_task_run.build_task.stage == 'bootstrap' } %>

          <div><b>ConfigurationBuild-<%= configuration_build.id %></b></div>

          <% if bootstrap_build_task_runs.present? %>
            <div class="worker">
              <div class="worker_label">bootstrap</div>
              <% bootstrap_build_task_runs.each do |build_task_run| %>
                <% classification = (build_task_run.state == 'success' ? 'success' : 'failure') %>
                <div class="file <%= classification %>"
                  <% if build_task_run.duration && build_task_run.relative_start(@start_time)*100/@scale_time + (build_task_run.duration*100/@scale_time) <= 100 %>
                    style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= '%0.2f' % (build_task_run.duration*100/@scale_time) %>%;"
                  <% else %>
                    style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= 100 - (build_task_run.relative_start(@start_time)*100/@scale_time) %>%;"
                  <% end %>

                  title="<%= build_task_run.label %>">
                  Bootstrap (<%= build_task_run.duration.to_i %>)
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="worker">
            <div class="worker_label">spawn</div>
            <% spawn_build_task_runs.each do |build_task_run| %>
              <% classification = (build_task_run.state == 'success' ? 'success' : 'failure') %>
              <div class="file <%= classification %>"
                <% if build_task_run.duration && build_task_run.relative_start(@start_time)*100/@scale_time + (build_task_run.duration*100/@scale_time) <= 100 %>
                   style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= '%0.2f' % (build_task_run.duration*100/@scale_time) %>%;"
                 <% else %>
                  style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= 100 - (build_task_run.relative_start(@start_time)*100/@scale_time) %>%;"
                 <% end %>
                 title="<%= build_task_run.label %>">
                 <%= build_task_run.short_label %>
              </div>
            <% end %>
          </div>

          <div class="worker">
            <div class="worker_label">run</div>
            <% regular_build_task_runs.each do |build_task_run| %>
              <% classification = (build_task_run.state == 'success' ? 'success' : 'failure') %>
              <div class="file <%= classification %>"
                <% if build_task_run.duration && build_task_run.relative_start(@start_time)*100/@scale_time + (build_task_run.duration*100/@scale_time) <= 100 %>
                  style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= '%0.2f' % (build_task_run.duration*100/@scale_time) %>%;"
                <% else %>
                  style="left: <%= '%0.2f' % (build_task_run.relative_start(@start_time)*100/@scale_time) %>%; width: <%= 100 - (build_task_run.relative_start(@start_time)*100/@scale_time) %>%;"
                <% end %>
                title="<%= build_task_run.label %>">
                <%= build_task_run.short_label %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
