<!DOCTYPE html>
<html>
  <head>
    <title>All C-ing I</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% unless current_user %>
      <% if Rails.env.production? %>
        <%= link_to "Sign in using Google", user_google_oauth2_omniauth_authorize_path %>
      <% else %>
        <%= link_to "Sign in as Developer", user_developer_omniauth_authorize_path %>
      <% end %>
    <% else %>
      <%= javascript_include_tag 'application' %>
    <% end %>
  </body>
</html>
